<div class="about" fxLayout="column" fxLayoutAlign="center center"  fxLayoutGap="20px">
  <img class="about-img" src="./assets/resources/pundalik.jpg" alt="" />
  <div fxLayout="column" fxLayoutGap="20px" style="padding: 20px">
    <p>
      This project is just an experiment, developed by <b>Pundalik Pujari</b>
    </p>
    <h4>Technical Specification</h4>
    <div>
      <span><b>Front end</b></span> -
      <span>Angular(7,8), Angular material, Flex-layout, HTML, SCSS</span>
    </div>
    <div>
        <span><b>Back end</b></span> -
        <span>Node.js, Express.js, MongoDB(mongoose)</span>
      </div>
      <div>
        <p>
          Here you can signup, login and book a earth movers. You will get an booking ID through provided gmail after successfull booking.
          You can check, sort, filter your previous orders.
        </p>
      </div>
      <marquee behavior="scroll" direction="left">
            <span class="marquee">Please go to feedback page and provide feedback for app improvements</span>
      </marquee>
  </div>
</div>
