.about {
    padding: 20px;

    .about-img {
        border-radius: 25%;
        height: 30vh;
        width: 30vw
    }

    .marquee {
        font-size: 18px;
        background: linear-gradient(333deg, red, green);
        background-clip: text;
        color: transparent;
        font-weight: 700;
    }
}