.about {
    padding: 20px;

    .about-img {
        border-radius: 25%;
        height: 25vh;
        width: 30vw;
        @media (min-width: 1500px) {
            width: 20vw;
        }
    }

    .about-content {
        padding: 20px;
    }
}

@media (max-width: 560px) {
    .about-content, .about {
        padding: 0px !important;
    }
    .about-img {
        width: 65vw !important;
    }
}