<div class="login" fxFlex fxLayoutAlign="center center">
  <!-- <div fxLayout="column" class="login-theme" [ngClass]="getThemeClass()" [ngStyle]="{ 'background-image': currentTheme }">
        <h4>Change theme</h4>
        <div>
            <mat-radio-group fxLayoutGap="14px">
                <mat-radio-button *ngFor="let theme of vehicles" [value]="theme" (click)="onThemeClick(theme)">
                    {{ theme }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div> -->

  <div class="login-content" fxLayout="column" fxLayoutGap="13px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="aiw-logo">
        AIW
      </span>
      <button mat-button (click)="signInWithGoogle()" fxLayout="row">
        <img src="./assets/resources/google.png" alt="" style="height: 26px" />
      </button>
      <button mat-button (click)="signInWithFB()" fxLayout="row">
        <img src="./assets/resources/fb.jpg" alt="" style="height: 30px" />
      </button>
      <button mat-flat-button (click)="onSignUp({}, true)">
        Signup
      </button>
    </div>

    <form
      [formGroup]="loginForm"
      fxFlex="100"
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
    >
      <mat-form-field fxFlex="100" [ngClass]="{'margin-btm': loginForm.controls.username.errors}">
        <input matInput placeholder="username" formControlName="username" />
        <mat-error *ngIf="loginForm.controls.username.errors"
          >Username length must be 8 to 15</mat-error
        >
      </mat-form-field>
      <mat-form-field fxFlex="100" [ngClass]="{'margin-btm': loginForm.controls.password.errors}">
        <input
          matInput
          placeholder="password"
          formControlName="password"
          type="password"
        />
        <mat-error *ngIf="loginForm.controls.password.errors"
          >Password length must be 8 to 15</mat-error
        >
      </mat-form-field>
      <div class="login-status__text">
        <mat-error *ngIf="loginMessage">{{ loginMessage }}</mat-error>
      </div>
      <button
        fxFlex="100"
        mat-raised-button
        [disabled]="!loginForm.valid"
        (click)="signIn()"
        class="login-btn"
      >
        SIGNIN
      </button>
    </form>
  </div>
</div>
