<div class="register">
  <mat-card class="register-card" fxLayout="column" fxLayoutGap="20px">
      <div class="register-card__text">
          <h3>Register to AIW</h3>
      </div>
      <form [formGroup]="registerForm" fxLayout="row wrap" fxFlex fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="100">
              <input matInput placeholder="Username" formControlName="username" required />
              <mat-error *ngIf="registerForm.controls.username.errors">Username length must be 8 to 15</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
              <input matInput placeholder="Firstname" formControlName="firstName"/>
          </mat-form-field>
          <mat-form-field fxFlex="100">
              <input matInput placeholder="Lastname" formControlName="lastName"/>
          </mat-form-field>
          <mat-form-field fxFlex="100">
              <input matInput placeholder="Password" formControlName="password" required type="password"/>
              <mat-error *ngIf="registerForm.controls.password.errors">Password length must be 8 to 15</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100">
              <input matInput placeholder="Confirm password" formControlName="confirmPassword" required type="password" />
              <mat-error *ngIf="registerForm.controls.confirmPassword.errors?.required">Password length must be 8 to 15</mat-error>
          </mat-form-field>
          <div style="margin-top: -10px; font-size: 12px">
                <mat-error *ngIf="registerForm?.controls?.confirmPassword?.errors?.isPasswordMatch"> Password do not match</mat-error>
          </div>
          <mat-form-field fxFlex="100">
              <input matInput placeholder="Email" formControlName="email" type="email"/>
          </mat-form-field>
      </form>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
          <button mat-raised-button [disabled]="!registerForm.valid" (click)="register()">REGISTER</button>
          <button mat-raised-button (click)="cancel()">CANCEL</button>
      </div>
  </mat-card>
</div>