.register {
    ::ng-deep .mat-card {
        border-top: 6px solid #f99a0d;
    }
    ::ng-deep .mat-raised-button:hover {
        background: linear-gradient(-90deg, red -40%, yellow);
    }
    ::ng-deep input.mat-input-element, .mat-form-field-label {
        font-size: 14px;
    }
    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
        font-size: 14px;
    }
}