.profile {
    .profile-avatar {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    ::ng-deep .mat-card {
        width: 60%;
        border-top: 4px solid #febe15;

        @media screen and (max-width: 1200px) {
            width: 95%;
        }
    }

    .avatar-icon__edit {
        background: linear-gradient(-90deg, #e63636, #ece319);
        position: absolute;
        top: 74px;
        border-radius: 20%;
        left: 40px;
        ::ng-deep {
            .material-icons {
                font-size: 15px;
                height: 15px;
                width: 15px;
            }
        }
    }
    .avatar-icon__edit-default {
        top: 0;
    }

    .file-upload {
        @media screen and (max-width: 600px) {
            flex-direction: column !important;
            input {
                margin-left: 16px;
            }
            .mat-raised-button {
                margin-top: 20px;
            }
        }
    }
}