::ng-deep .mat-raised-button:hover {
    background: linear-gradient(-90deg, #e63636, #ece319);
}

::ng-deep .mat-raised-button {
    line-height: 30px;
}
.dashboard {
    overflow: hidden;
    @media screen and (min-width: 1600px) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}
.dashboard-content {
    @media screen and (min-width: 1600px) {
        width: 1500px;
    }
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: transparent !important;
    background: transparent !important;
}