/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html body {
    margin: 0 auto;

    ::-webkit-scrollbar {
        width: 4px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: grey;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(red -40%, yellow);
    }
}

.mat-tab-label-active {
    background: linear-gradient(-90deg, #e63636, #ece319);
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.mat-ink-bar {
    background: linear-gradient(-90deg, #e63636, #ece319);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #ff7300;
}

.marquee {
    font-size: 18px;
    background: linear-gradient(333deg, red, green);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    width: fit-content; 
}

.book-vehicle-dialog {
    .mat-dialog-container {
        min-width: 30vw;
        min-height: 30vh;
        width: 40vw;
        @media (max-width: 600px) {
            width: 75vw;
        }
    }
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}

.register-dialog {
    .mat-dialog-container {
        min-width: 30vw;
        min-height: 30vh;
        width: 40vw;
        padding: 0;
        height: unset;
        border-radius: 10px;
        @media screen and (max-width: 500px) {
            width: 75vw;
        }
    
        @media screen and (min-width: 501px) and (max-width: 768px) {
            width: 60vw;
        }
    
        @media screen and (min-width: 769px) {
            width: 50vw;
        }
    }

    .mat-raised-button {
        line-height: 30px;
    }
}

.mat-paginator-container {
    @media (max-width: 600px) {
        justify-content: center !important;
    }
}
.statcounter {
    position: absolute;
    bottom: 0;
    left: 25px;
}

.visits {
    @extend .statcounter;
    left: 0;
    bottom: 2px;
    background: linear-gradient(#e63636, #ece319);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}